VITE_SUPABASE_URL=https://ovpqgrwcokmlnhcnlgbr.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im92cHFncndjb2ttbG5oY25sZ2JyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk5MDE4NzUsImV4cCI6MjA1NTQ3Nzg3NX0.qsFao7puB3DgxyBkxgw5DAkuD_kusPKhBgMa9l41jS0